<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858360232413-k89sadv1b3uf78gkan5ojgr8uqlqb30d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858360232413-k89sadv1b3uf78gkan5ojgr8uqlqb30d</string>
	<key>API_KEY</key>
	<string>AIzaSyADNAjYFkdgWmEYqGtuteW1bp6cm6li4uo</string>
	<key>GCM_SENDER_ID</key>
	<string>858360232413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phamnhantucode.mynotesbeginer</string>
	<key>PROJECT_ID</key>
	<string>mynotesbeginer</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotesbeginer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858360232413:ios:451eda2f5b7159593d1e34</string>
</dict>
</plist>